html {
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;

    background-image: linear-gradient(to bottom, #858C90, black );

    background-repeat: no-repeat;

    background-attachment: fixed;

    white-space: nowrap;
}

div.trello-list {
    display: inline-block;

    background-image: linear-gradient(to bottom, #858C90, darkgray);

    border-radius: 2px 3px;

}

.trello-list {
    vertical-align: top;
}

/* main h2 { */
div.trello-list > h2 {
    margin: 8px;

    font-size: 1rem;
    font-weight: bold;
}

div.trello-list ol {
    margin: 0;
    padding: 0;
}

div.trello-list ol li {
    list-style: none;
    background-color: rgb(255, 255, 255);
    font-size: 0.9rem;
    border-radius: 1px;
    margin-bottom: 10px;
    padding: 8px;
}

div.trello-list ol li:hover {
    background-color: red;
    color: orange;
}

/*
header {
    border: 1px solid green;
}
*/

header > h1,
header > p {
    display: inline-block;

    height: 20px;

    padding-right: 20px;

    vertical-align: middle;

    margin: 0;

    /* font-size: 1.1rem; */

    border-right: 1px solid rgba(255, 255, 255, 0.5);

}

header > h1 {
    font-size: 1.1rem;

    text-transform: uppercase;
}

header > p {
    font-size: 0.9rem;
}

header {
    position: fixed;

    top: 0;

    height: 50px;

    background-color: lightgray;
}


main {
    margin-top: 50px;
}

