body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

img{
    height: 200px;
}

h1{
    color:cornflowerblue;
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}