<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--We need to add defer to our script tag to tell the DOM to not run until page is fully loaded-->
    <script src="script.js" defer></script>
</head>

<body>
    <div>This is not part of Vue</div>
    <div id="myApp">
        This will be part of Vue
        <!--double moustache-->
        {{ message }}
        <div>
            <input type="text" v-model="firstName">
        </div>
        {{firstName}}
        <h3>Planets</h3>
        <div v-for="planet in planets">
            <p>{{planet}}</p>
        </div>

        <p> {{10 > 5}}</p>
        <input type="checkbox" v-model="showDescription" />Show Description
        <p v-show="showDescription">This is the description</p>
    </div>
</body>

</html>